<div class="box rules"><p></p>
  <h2>Video support and known issues</h2>
  <li>Youtube: Does not automatically generate title and description (API key issue) otherwise full support
</li>
<li>Vimeo: Full suppport
</li>
<li>Dailymotion: Full support
</li>
<li>Wistia: Full support
</li>
<li>
Instagram: Does not display fullscreen, shows the entire Instagram post
</li>
<li>
  Facebook: No preview images, titles, or descriptions are generated, and some videos are taller than the screen when not in fullscreen mode.
</li>
<li>Twitter: No preview image, does not display fullscreen, just shows the entire tweet
</li>
<li>TikTok: Videos do not embed due to a security issue</li>
<li>CBS News: No preview image</li>
<li>Kickstarter: Must copy the URL from the Kickstarter embed code in order to embed video, no preview image or any other info will be collected.</li>
<li>Sites that work: Youtube, Vimeo, Dailymotion, Wistia
</li>
<li>All other sites will create a link to the video instead of embedding it.
</li>
</ul>
</p>
</div>
