/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "rails_bootstrap_forms";

html {
  color: white;
  font-family: sans-serif;
}

a {
  color: rgb(177, 177, 177) !important;
}

.nav2 {
  color: rgb(32, 32, 32) !important;
}
.navbar-text {
    color: rgb(129, 129, 129) !important;

}
.bump {
    margin-left: 0.5em;
}

.card-title {
  color: rgb(32, 32, 32) !important;
}

.buttonlink {
    color: rgb(0, 7, 87) !important;
    text-decoration: underline;
}

body {
  margin-top: 2em;
  margin-bottom: 3em;
  background-color: black !important;
}

h5 {
  display: inline !important;

}

.bgcolor0 {
  background-color: rgb(133, 133, 133) !important;
}

.bgcolor1 {
  background-color: rgb(194, 255, 179) !important;
}

.bgcolor2 {
  background-color: rgb(221, 255, 179) !important;
}

.bgcolor3 {
  background-color: rgb(240, 255, 179) !important;
}

.bgcolor4 {
  background-color: rgb(255, 240, 179) !important;
}

.bgcolor5 {
  background-color: rgb(255, 231, 179) !important;
}

.bgcolor6 {
  background-color: rgb(255, 231, 179) !important;
}

.bgcolor7 {
  background-color: rgb(255, 213, 179) !important;
}

.bgcolor8 {
  background-color: rgb(255, 185, 170) !important;
}

.bgcolor9 {
  background-color: rgb(255, 178, 165) !important;
}

.bgcolor10 {
  background-color: rgb(255, 157, 157) !important;
}
#pagination {
  margin: 0 auto;
  background: transparent;
  border: none;
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  #pagination a, #pagination span {
    padding: 0.2em 0.5em; }
  #pagination .disabled {
    color: #f1f1f1; }
  #pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  #pagination a {
    text-decoration: none;
    color: black; }
    #pagination a:hover, #pagination a:focus {
      text-decoration: underline; }

@media only screen and (max-width: 500px) {
  body {
    margin-top: 5em;
    margin-bottom: 6em;
  }
}
