/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "rails_bootstrap_forms";

html {
  color: white;
  font-family: sans-serif;
}

body {
  margin-top: 2em;
  background-color: black !important;
}

h5 {
  display: inline !important;
}

.bgcolor0 {
  background-color: rgb(133, 133, 133) !important;
}

.bgcolor1 {
  background-color: rgb(194, 255, 179) !important;
}

.bgcolor2 {
  background-color: rgb(221, 255, 179) !important;
}

.bgcolor3 {
  background-color: rgb(240, 255, 179) !important;
}

.bgcolor4 {
  background-color: rgb(255, 240, 179) !important;
}

.bgcolor5 {
  background-color: rgb(255, 231, 179) !important;
}

.bgcolor6 {
  background-color: rgb(255, 231, 179) !important;
}

.bgcolor7 {
  background-color: rgb(255, 213, 179) !important;
}

.bgcolor8 {
  background-color: rgb(255, 185, 170) !important;
}

.bgcolor9 {
  background-color: rgb(255, 178, 165) !important;
}

.bgcolor10 {
  background-color: rgb(255, 157, 157) !important;
}
