/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "rails_bootstrap_forms";
@import "bootstrap-datepicker";

html {
  color: white;
  font-family: sans-serif;
  font-size: .9em;
  line-height: .7em;
  background: rgba(82,82,82,1);
  background: -moz-linear-gradient(left, rgba(82,82,82,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 75%, rgba(82,82,82,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(82,82,82,1)), color-stop(25%, rgba(0,0,0,1)), color-stop(75%, rgba(0,0,0,1)), color-stop(100%, rgba(82,82,82,1)));
  background: -webkit-linear-gradient(left, rgba(82,82,82,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 75%, rgba(82,82,82,1) 100%);
  background: -o-linear-gradient(left, rgba(82,82,82,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 75%, rgba(82,82,82,1) 100%);
  background: -ms-linear-gradient(left, rgba(82,82,82,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 75%, rgba(82,82,82,1) 100%);
  background: linear-gradient(to right, rgba(82,82,82,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 75%, rgba(82,82,82,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525252', endColorstr='#525252', GradientType=1 );
}
img {
  max-width: 95vw;
}
.centered-image {
  text-align: center;
  margin: 0 auto;
  display: block;
}
.twitter-tweet, .EmbeddedTweet {
  max-width: 100% !important;
  margin: 0 auto;
}
.fb-video {
max-height: 100vh !important;
overflow: hidden;
}
.bgtransparent {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  color: black !important;
}
body {
margin: 0 auto;
  background-color: transparent;
font-family: 'Cabin', sans-serif;
}
a {
  color: rgb(177, 177, 177) !important;
}
h2 {
  color: white !important;
}
.nav2 {
  color: rgb(32, 32, 32) !important;
}
.navbar-text {
    color: rgb(129, 129, 129) !important;
padding: 0 !important;
}
.navbar {
  padding: 0.1rem 1rem;
  font-size: .9em;
  background-color: black !important;
  color: black;
  justify-content: space-around !important;
}

#clip {
  max-width: 100%;
  text-align: center;
  width: 100%;
}
#clip iframe, #captchabox iframe {
  max-width: 500px !important;
  max-height: 300px !important;
  position: relative !important;
  margin: 0 auto;
}
#captchabox {
  margin: 5px;
  max-width: 500px;
  margin: 0 auto;
}
#captchabox iframe {

}
.card-title {
  color: rgb(32, 32, 32) !important;
}

.buttonlink {
    color: rgb(0, 7, 87) !important;
    text-decoration: underline;
}
.tag {
  padding: 5px;
  background-color: black;
  border-radius: 5px;
  margin: 3px;
}
.category {
  padding: 5px;
  background-color: rgb(226, 226, 226);
  margin: 5px 3px;
  font-weight: bold;
}
.category a {
  color: black !important;
}
.red {
  color: red;
}
.green {
  color: rgb(128, 255, 0);
}
.greenlighted {
background-color: rgb(198, 255, 175);
}
.bulblightgreen {
  filter: drop-shadow(0px 0px 3px yellow);
-webkit-filter: drop-shadow(0px 0px 3px yellow);
-moz-filter: drop-shadow(0px 0px 3px yellow);
}
.redlighted {
  background-color: rgb(221, 187, 170);
}
.bulblightred {
  filter: drop-shadow(0px 0px 3px yellow);
-webkit-filter: drop-shadow(0px 0px 3px yellow);
-moz-filter: drop-shadow(0px 0px 3px yellow);
}
.yellowlighted {
  background-color: rgb(241, 224, 187);
}
.inline, .inline button, .inline span, .inline input, .inline form {
  display: inline !important;
}
.modActions {
  border: 1px solid black;
  padding: 3px;
  font-size: .6em;
  max-width: 200px;
  display: inline;
}
.useradminpanel {
  border: 1px solid black;
  padding: 3px;
  margin: 3px;
  background-color: rgb(162, 162, 162);
}
.useradminpanel a{
color: black !important;
}
.useradminpanel button, .useradminpanel form {
  display: inline
}
.modActions input[type=submit] {
  background-color: white;
  color: black;
  font-size: 1em !important;
  padding: 3px 5px;
  border: 1px solid black;
}
.bulbers div, .checkboxes div {
  border: 1px solid white;
  padding: 5px;
  margin: 5px;
}
.bulbs {
  display: inline;

}
.bulbs form {
  display: inline;
}
.bulbs button, .bulbs span {
  background-color: white;
  color: black;
  padding: 3px 5px;
  border: 1px solid black;
  border-radius: 3px;
}
.bulbs button:hover {
  background-color: gray;
  color: white;
}
.bulbs span, .disabledButton {
background-color: black;
color: white;
border-radius: 3px;
margin: 3px;
padding: 5px 5px;
}
.dragdrop {
  padding: 5px;
  border: 1px solid white;
  margin: 5px;
}
.checkform {
  margin: 5px;
}
.disabledButton {
background-color: black !important;
color: white !important;
border-radius: 3px;
margin: 3px;
padding: 5px 5px;
}
.disabledButton span {
  color: white !important;
}
h5 {
  display: inline !important;

}

h4 {
  font-size: 1em;
  font-weight: bold;
}
#iframecontainer {
  position: relative;
}
#linkModalContainer, #nsfwModalContainer, #playlistModalContainer {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
justify-content: center;
z-index: 30;
background-color: transparent;
}
#nsfwModalContainer {
  background-color: rgba(0, 0, 0, 0.95);
}
#usernameSearch {
  overflow: hidden;
}
.flagbox {
  border: 1px solid red;
  padding: 5px;
  margin: 5px;
}
.invisible {
  visibility: hidden;
  height: 0;
  padding: 0;
  margin: 0;
}

.nowidth {
  visibility: hidden;
  height: 0;
  width: 0;
}
.linkModal, .nsfwModal, .playlistModal {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 1em;
  max-width: 80%;
  z-index: 35;
}
.playlistform {
  border: 1px solid white;
  padding: 1em;
  background-color: rgb(62, 62, 62);
}
iframe
{
 display: block;
 width: 100%;
 border: none;
 overflow-y: auto;
 overflow-x: hidden;
 margin: 0px;
padding: 0px;
height: 100%;
border: none;
position: absolute;
top: 0;
z-index: 10;
max-height: 100vh !important;
}
.columns {
  display: grid;
  grid-template-columns: 300px 928px auto;
  max-width: 90%;
  margin: 0 auto;
}

.leftbar {
        background-color: rgb(107, 107, 107);
    color: black;
    border-right: 2px solid black;
}
.leftbartop {
  padding: 0.1rem 1rem;
  font-size: .9em;
  background-color: black !important;
  color: black;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
    align-items: center;
  flex-wrap: wrap;
}
.leftbartop a {

}
.leftbarlinks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.leftbarlinks a {
  background-color: white;
    color: black !important;
  border-radius: 3px;
  padding: 3px 5px;
  color: black;
  text-align: center;
  margin: 5px 5px;
}
.leftbarlinks a, .topvids li, .leftbar button {
  /** Offset the Position **/
  position: relative;
  top: 0;
  margin-top: 0;
  margin-bottom: 5px;

  /** 3D Block Effect **/
  box-shadow: 0 3px 0 0 #2e2e2e;

  /** Make it look pretty **/
  // display: block;
  border: 0;
  cursor: pointer;
}

.leftbarlinks a:active, .topvids li:active, .leftbar button:active {
  /** Remove 3D Block Effect on Click **/
  box-shadow: none;
  top: 3px;
  margin-bottom: 2px;
}

.leftbarlinks a:hover, .topvids li:hover, .leftbar button:hover {
  opacity: 1;
}

.leftbarlinks a:active, .topvids li:active,
.leftbarlinks a:focus, .topvids li:focus,
.leftbar button:hover, .leftbar button:focus {
  /** Remove Chrome's Ugly Yellow Outline **/
  outline: 0;
}
.youmod {
  background-color: rgb(255, 193, 193) !important;
}
.topvids div{
  background-color: rgb(133, 133, 133);
  margin: 5px;
  padding: 5px 0px;
}
.topvids h6 {
  text-align: center;
  font-variant: small-caps;
}
.topvids div ul {
  display: flex;
  justify-content: space-around;
    padding-left: 0;
}
.topvids div ul li {
  list-style: none;
  background-color: white;
  border-radius: 3px;
  padding: 3px 5px;
  color: black;
  text-align: center;
  margin: 0 5px;
}
.topvids div ul li a {
  color: black !important;
}
.submitform {
    background-color: rgb(133, 133, 133);
    color: black;
    max-width: 80%;
    margin: 0 auto;
    padding: 5px;
}
.comments {
  background-color: rgb(227, 227, 227);
  color: black;
  width: 100%;
}
.comments li:nth-child(even) {
    background-color: rgb(213, 213, 213);
}
.comments ul {
  list-style: none;
}
.commentheader {
  display: flex;
  justify-content: space-between;
      background-color: rgb(215, 215, 215);
      padding: 5px;
      color: black;
}
.comment a {
  color: rgb(0, 44, 83) !important;
  font-weight: bold !important;
  text-decoration: underline !important;
}
.comment p {
  padding: 5px;
}
.commenttitle {

}
.collapsed {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: height .5s;
}
.expanded {
  visibility: visible;
  height: auto;
}
#allvideos {
  display: grid;
    grid-template-columns: 308px 308px 308px;
    grid-auto-rows: 300px;
    background-color: black;
  margin: 0 auto;
  border: 2px solid rgb(133, 133, 133);
  -webkit-box-shadow: 0px 0px 23px 5px rgba(255,255,255,0.55);
-moz-box-shadow: 0px 0px 23px 5px rgba(255,255,255,0.55);
box-shadow: 0px 0px 23px 5px rgba(255,255,255,0.55);
}
.videodescription {
  max-height: 50vh;
  overflow-y: scroll;
}
.box {
      background-color: black;
  margin: 0 auto;
  max-width: 932px;
  border: 2px solid rgb(133, 133, 133);
  -webkit-box-shadow: 0px 0px 23px 5px rgba(255,255,255,0.55);
-moz-box-shadow: 0px 0px 23px 5px rgba(255,255,255,0.55);
box-shadow: 0px 0px 23px 5px rgba(255,255,255,0.55);
}
.rules {
  color: white;
  padding: 5px;
}
.box p {
  padding: 5px;
}
.box h2, .box h3 {
  text-align: center;
}
.banbox {
  max-width: 500px;
  border: 1px solid black;
  background-color: rgb(217, 176, 176);
  color: black;
  margin: .5em auto;
}
.viddiv {

}
.vidgrid {

  overflow: hidden;
}
.vidgrid div {
  // padding: 5px;
}
.title {
  background-color: rgb(97, 97, 97);
  text-align: center;
  padding: 5px;
  height: 2em;
  overflow: hidden;
}
.full {
  background-color: rgb(154, 154, 154) !important;
  text-align: left;
  height: auto;
  overflow: auto;
}
.thumb, .thumbred, .thumbgreen, .thumbyellow {
  width: 300px;
  height: 200px;
  border: 2px solid white;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  background-size: 100%;
  display: block;
  position: relative;
margin: 0 auto;
transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
-webkit-transition: all 1s ease-in-out;
}
.thumb:hover, .thumbgreen:hover, .thumbyellow:hover, .thumbred:hover {
  background-size: 130%;
}
.thumbgreen:hover {
-webkit-box-shadow: inset 0px 0px 7px 1px rgba(13,255,0,1);
-moz-box-shadow: inset 0px 0px 7px 1px rgba(13,255,0,1);
box-shadow: inset 0px 0px 7px 1px rgba(13,255,0,1);
}
.thumbred:hover {
-webkit-box-shadow: inset 0px 0px 7px 1px red;
-moz-box-shadow: inset 0px 0px 7px 1px red;
box-shadow: inset 0px 0px 7px 1px red;
}
.thumbyellow:hover {
-webkit-box-shadow: inset 0px 0px 7px 1px yellow;
-moz-box-shadow: inset 0px 0px 7px 1px yellow;
box-shadow: inset 0px 0px 7px 1px yellow;
}
.thumbnailContainer {
  background-color: black;
  padding: 2px;
}
.minithumb {
  width: 100px;
  height: 75px;
}
.sortbox {
    margin: 5px;
    display: grid;
    grid-template-columns: 110px calc(100% - 120px);
}
.caption {
 margin-left: 5px;
  background-color: rgb(50, 50, 50);

  width: 100%;
}
.caption p {
  padding: 5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 100%;
}
.caption button, .caption input {
  margin: 5px;
}
.desccolumns {
  display: grid;
  grid-template-columns: auto auto;
}
.right {
  text-align: right;
}
.counter {
  display: flex;
align-items: center;
justify-content: center;
}
table {
  width: 100%;
}
.sortable {
  margin: 0 auto;
  min-width: 100%;
}
.sorttitle {
  background-color: black;
  padding: 5px;
  border-top: 2px solid gray;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 100%;
}
.listVideoPlaylists {
 margin: 5px;
 border: 1px solid white;
}
.listVideoPlaylists h6 {
  background-color: black;
  font-size: 1.2em;
  color: white;
  text-align: center;
  padding: 5px;
}
.listVideoPlaylists ul {
  padding: 5px;
}
.descriptionContainer {
    padding: 5px;
    overflow: hidden;
  height: 100%;

  max-height: 90px;
background-color: black;
color: white;
}
.descinner {

    border: 1px solid gray;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 100%;
    padding: 5px;
}
.notbutton:hover{
  cursor: default !important;
  background-color: white !important;
  color: black !important;
}
.vidsubname {
  border-radius: 3px;
  background-color: white;
  color: black;
  padding: 3px 5px;
}
.vidsubname a {
  color: black !important;
}
.descinner p {
      overflow: hidden;

}
.vidsubtitle {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;

    padding: 3px 5px;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}
.vidsubtitle h4 a  {
    color: rgb(218, 218, 218) !important;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}
.vidsubtitle h4 a:hover {
      color: white !important;

}
.vidsubtitle:hover {
    background-color: rgba(0, 0, 0, 1);

}
.vidsubcat {
  color: black !important;
}
.thumbbulbs {
  position: absolute;
  top: 5px;
  right: 5px;
}
.vidplayergrid {
  display: grid;
  grid-template-columns: 80% 20%;
  max-width: 100%;
  margin: 0 auto;
  min-height: calc(100vh - 5em);
  max-height: 100vh;
}
.vidplayergrid div:nth-child(2) {
      background-color: rgb(133, 133, 133);
}
.vidplayergrid p {
    padding: .5em;
}
.tiktok-embed {
  max-height: 100% !important;
  height: 100% !important;
}
.comment img {
  max-width: 500px;
}
.form-group {
  display: inline !important;
}
input[type=date] {
  max-width: 200px;
  display: inline;
}
label {
  display: inline;
}
input {
  max-width: 100%;
}
.commentslayer {
  margin-left: 1em;
  border-left: 1px solid black;

}
.comment {
  border-bottom: 1px solid gray;
}
.comment:target {
   border: 3px solid #ffa !important;
}
.modgrid {
  // display: grid;
  // grid-template-columns: repeat(8, 1fr);
}
.modgrid div, .modgrid form {
  display: inline;
}
.mod .responseform {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}
.modcomment {
  padding: 5px;
  margin: 5px;
  border: 1px solid white;
}
.inbox ul {
  list-style: none;
}
.new hr {
  background-color: yellow;
}
.read hr {
  background-color: white;
}
.read::before {
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.new::before {
  content: "NEW";
  color: yellow;
  font-weight: bold;
  display: inline-block;
  width: 3em;
  margin-left: -1em;
}
.markread input[type="submit"] {
  padding: 2px 5px;
  margin-left: 5px;
  color: yellow;
  border: 1px solid yellow;
  background-color: black;
}
.markread input[type="submit"]:hover{
  color: black;
  border: 1px solid black;
  background-color: yellow;
}
.modpowers {
  padding: 2px 5px !important;
  margin-left: 5px !important;
  color: white !important;
  border: 1px solid white !important;
  background-color: black !important;
}
.modpowers:hover {
  color: black !important;
  border: 1px solid black !important;
  background-color: yellow !important;
}

.grant {
  border: 1px solid green !important;
}
.revoke {
  border: 1px solid red !important;
}
.sendnotifs {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5px;
}
.notificationcount {
  background-color: #ffa;
  border-radius: 50%;
  padding: 2px;
  margin-left: 2px;
}
.flag {
  color: red !important;
}
textarea {
  height: 3em;
  width: 100%;
  padding: .5em;
}
.editcomment textarea {
  background-color: rgb(254, 255, 198);
}
button, input[type=submit] {
      background-color: rgb(80, 80, 80);
  color: white;
  border: none;
  margin: 0 auto;
  border-radius: 3px;
  padding: 5px 10px;
}
button:hover, input[type=submit]:hover {
      background-color: rgb(219, 219, 219);
  color: black;
  border: none;
}
input, select {
  background-color: white;
color: black;
border: none;
margin: 0 auto;
border-radius: 3px;
padding: 5px 10px;
}
.search {
  margin: 5px;
  padding: 5px;
  border: 1px solid white;
font-variant: small-caps;
line-height: 1em;
}
.highlightsearchterm {
  font-weight: bold;
  color: yellow;
}
.donate {
  padding: 5px;
  margin: 5px;
  // border: 1px solid white;
  background-color: rgb(215, 215, 215);
  font-variant: small-caps;
  line-height: 1.1em;
}
.group {
  display: flex;
  align-items: center;
  flex-wrap:wrap;
}
.bangrid {
  display: grid !important;
  grid-template-columns: 33.33% 33.33% 33.33%;
}
.bulbtable {
  margin: 0 auto;
  width: 200px;
}
.bulboutergrid {
  display: grid;
  grid-template-columns: 100px 100px;
}
.bulbinnergrid:first-child {
  border-right: 1px solid white;
  border-top: 1px solid white;
  border-left: 1px solid white;
}
.bulbinnergrid {
  display: grid;
  grid-template-columns: 50px 50px;
  padding: 5px;
}
.bulbslist {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
#pagination {
  margin: 0 auto;
  background: transparent;
  border: none;
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  #pagination a, #pagination span {
    padding: 0.2em 0.5em; }
  #pagination .disabled {
    color: #f1f1f1; }
  #pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  #pagination a {
    text-decoration: none;
    color: black; }
    #pagination a:hover, #pagination a:focus {
      text-decoration: underline; }

      #mobilemenubars {
        visibility: hidden;
        color: white;
        height: 0;
        width: 0;
      }

@media only screen and (max-width: 500px) {
  body {
    margin: 0 auto;
    top: 0;
  }
  #mobilemenubars {
    visibility: visible;
    height: auto;
    width: auto;
  }
  .leftbar {
    overflow: hidden;
    position: fixed;
        z-index: 1000;
    top: 0;
      transition: height .5s;
  }


  .donate, .checkform, .search, .leftbarlinks, .topvids {
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .mobilenavexpand {
    height: 100vh;
    overflow: scroll;
    visibility: visible;
    position: fixed;
    z-index: 1000;
    top: 0;
  }
  .submobilenavexpand {
    height: auto;
    visibility: visible;
    overflow: auto;
  }
  .columns {
      grid-template-columns: 100%;
            grid-template-rows: auto auto auto;
            margin: 0 auto !important;
            max-width: 100%;
  }
  .box {
    max-width: 100%;
  }
  #allvideos {
      grid-template-columns: 100%;
    }
    .thumb, .thumbred, .thumbgreen, .thumbyellow {
      width: 96vw;
      height: 64vw;
    margin: 0 auto;
    }
}


@media only screen and (min-width: 2300px) {
.columns {
    grid-template-columns: 300px 1237px auto;
}
.box {
  max-width: 1243px;
}
#allvideos {
    grid-template-columns: 308px 308px 308px 308px;
  }
}

@media only screen and (min-width: 3000px) {
.columns {
    grid-template-columns: 300px 1864px auto;
}
.box {
  max-width: 1856px;
}
#allvideos {
    grid-template-columns: 308px 308px 308px 308px 308px 308px;
  }
}
