<div class="donate">
  Help us pay for our servers:
<a href="https://www.patreon.com/bePatron?u=34341667" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>

<script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'M4M21NHEP');kofiwidget2.draw();</script>

<br>
<a href="https://twitter.com/boat_eevee">@boat_eevee</a>
</div>
