<div class="donate" id="donate">
  Help us pay for our servers:
<a href="https://www.patreon.com/bePatron?u=34341667"><%= image_tag("become_a_patron_button.png")%></a>
<br>
<a href='https://ko-fi.com/M4M21NHEP' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://cdn.ko-fi.com/cdn/kofi1.png?v=2' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>

<br>
<a href="https://twitter.com/boat_eevee">@boat_eevee</a>
</div>
